<!DOCTYPE html>
<html>
 <title></title>
 <head>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/reservations.css">
 </head>
 <header>
  <img src="images/ArmstrongProfile.png" class="logo">
  <div id="header_row">
   <button>Hotel</button>
   <button>Rooms & Suites</button>
   <button>Reservations</button>
   <button>Activities</button>
   <button>Contact</button>
  </div>
  <div id="language_drop">
   <p>EN</p>
  </div>
 </header>
 <body>
 
  <div id="row_navi">
   <div class="navi_button">
    <p>Select Room</p>
   </div>
  </div>
 
  <div id="column_select">
   <h3>Select Room</h3>
   <p>
     Asdasdasd asfsadf safsadfasdfsadfasdfsadfgdsfgdsfgdfsg
	 dsfgsdfgdsfg dsfgsdfgdsfgdsfg sdfgsdfgdsfgsdfg sdfgdfs
	 sdfgdsfgdsfg dfgdsfg dfgdsfgsdfgsdfgdfsgsdg
   </p>
   
   <div class="select_profile">
    <img>
	<div>
	 <h2>Classic room, non-smoking: King Bed</h2>
	 <div class="select_left">
	 </div>
	 <div class="select_right">
	 </div>
	 <div class="price_row">
	  <h2>115.00</h2>
	  <button>Select a Room</button>
	 </div>
	</div>
   </div>
  </div>
 
  <div id="column_id">
   <h2>Edit Your Search</h2> 
   <h3>Check in</h3>
   <input>
   <h3>Check out</h3>
   <input>
   <div id="edit_row">
    <div class="choose_column">
	 <h6>Room(s)</h6>
	 <input>
	</div>
    <div class="choose_column">
	 <h6>Room(s)</h6>
	 <input>
	</div>
	<div class="choose_column">
	 <h6>Room(s)</h6>
	 <input>
	</div>
   </div>
   <button>Update</button>
  </div>
 
 
 </body>
 <footer>
  <div id="trademark">
   <h5>@ 2012 Paradise Hotel. All Rights Reserved.</h5>
  </div>
  
  <div id="icons_row">
    <img src="images/ArmstrongProfile.png" class="small_icon">
    <img src="images/ArmstrongProfile.png" class="small_icon">
    <img src="images/ArmstrongProfile.png" class="small_icon">
    <img src="images/ArmstrongProfile.png" class="small_icon">
    <img src="images/ArmstrongProfile.png" class="small_icon">
  </div>
  
  <div id="footer_menu">
   <button>Home</button>
   <button>Rooms & Suites</button>
   <button>Reservations</button>
   <button>Contact</button>
  </div>
 </footer>
</html>