<!DOCTYPE>
<html>
  <head>
   <link rel="stylesheet" href="css/style.css">
   
   <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  </head>
   <header> 
      <h1>Seabird.</h1>	  
  </header> 
  <body>   
    <div id="header">
	 <div>
	   <button>HOME</button>
	   <button>PORTFOLIO</button>
	   <button>BLOG</button>
	   <button>PAGES</button>
	   <button>FEATURES</button>
	   <button>CONTACT</button>
	 </div>
	 <div>
	  <input type="image" class="small_icon" src="images/ArmstrongProfile.png" />
      <input type="image" class="small_icon" src="images/ArmstrongProfile.png" />
	  <input type="image" class="small_icon" src="images/ArmstrongProfile.png" />
	 </div>
	</div>
       
	
	<h1>
	 We design & build responsive themes
	</h1>
	 <br>
	<h3>
	 Maecenas sed diam varius blandit magna. Duis mollis commodo luctus.
	</h3>
	
	<div id="left_arrow"></div>
	<img src="images/BakedCubes.png" />
	<div id="right_arrow"></div>
	<div class="dots"></div>
	
	<h2>
	 Interface Design is important for Us
	</h2>
	<p>
	 Nullam id dolor id nibh ultricies vehicula ut id edit. Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est 
	</p>
	 <br>
	<p>
	 non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.
	</p>
	
	<div class="circle_list">
	 <div class="circle_button">
	   <img src="images/ArmstrongProfile.png" class="middle_icon">
	   <p>Interface Design</p>
	 </div>
	 <div class="circle_button">
	   <img src="images/ArmstrongProfile.png" class="middle_icon">
	   <p>Interface Design</p>
	 </div>
	 <div class="circle_button">
	   <img src="images/ArmstrongProfile.png" class="middle_icon">
	   <p>Interface Design</p>
	 </div>
	 <div class="circle_button">
	   <img src="images/ArmstrongProfile.png" class="middle_icon">
	   <p>Interface Design</p>
	 </div>
	</div>
	
	<div id="awesome_container">
	<h3>OUR AWESOME WORKS</h3>
	<div id="awesome_works">
	 <!-- hmm -->
	 <div class="title_cards">
	  <div>
	   <img src="images/ArmstrongProfile.png">
	   <h3>Nobis Business Card</h3>
	   <p>Business Card, Graphic</p>
	   <p>Sed posuere consectetur est at lobortis. Porta</p>
	    <br>
	   <p>sagittis lacus vel augue laoreet rutrum.</p>
	  </div>
	 </div>
	 <div class="title_cards">
	  <div>
	   <img src="images/ArmstrongProfile.png">
	   <h3>Nobis Business Card</h3>
	   <p>Business Card, Graphic</p>
	   <p>Sed posuere consectetur est at lobortis. Porta</p>
	    <br>
	   <p>sagittis lacus vel augue laoreet rutrum.</p>
	  </div>
	 </div>
	 <div class="title_cards">
	  <div>
	   <img src="images/ArmstrongProfile.png">
	   <h3>Nobis Business Card</h3>
	   <p>Business Card, Graphic</p>
	   <p>Sed posuere consectetur est at lobortis. Porta</p>
	    <br>
	   <p>sagittis lacus vel augue laoreet rutrum.</p>
	  </div>
	 </div>
	</div>
	</div>
	
	<div id-"contact_list">
	
     <div>
	  <h1>GET IN TOUCH</h1>
	   <br>
	  <p>
	   Fuscue dapibus, telius commodo, tortor
       asdasdasdas sdfsdf  fdgsdfgs sdgdsfgasdf,
       df df sdfsdf  sdfsdf.	   
	  </p>
	  <div class="location_list">   
        <div>	  
	     <img src="images/ArmstrongProfile.png" class="small_icon">
	     <p>
	      Moonshine Street noL 14/05
	      Light City, Jupiter
	     </p>
	    </div>
	    <div>
	     <img src="images/ArmstrongProfile.png" class="small_icon">
	     <p>0247 541 65 87</p>
	    </div>
	    <div>
		 <img src="images/ArmstrongProfile.png" class="small_icon">
	     <p>support@longwave.com</p>
	    </div>
	   </div>
	 </div>
	
	<div>
	  <h1>GET IN TOUCH</h1>
	   <br>
	  <p>
	   Fuscue dapibus, telius commodo, tortor
       asdasdasdas sdfsdf  fdgsdfgs sdgdsfgasdf,
       df df sdfsdf  sdfsdf.	   
	  </p>
	  <div class="location_list">   
        <div>	  
	     <img src="images/ArmstrongProfile.png" class="small_icon">
	     <p>
	      Moonshine Street noL 14/05
	      Light City, Jupiter
	     </p>
	    </div>
	    <div>
	     <img src="images/ArmstrongProfile.png" class="small_icon">
	     <p>0247 541 65 87</p>
	    </div>
	    <div>
		 <img src="images/ArmstrongProfile.png" class="small_icon">
	     <p>support@longwave.com</p>
	    </div>
	   </div>
	 </div>
	 
	 <div>
	  <h1>GET IN TOUCH</h1>
	   <br>
	  <p>
	   Fuscue dapibus, telius commodo, tortor
       asdasdasdas sdfsdf  fdgsdfgs sdgdsfgasdf,
       df df sdfsdf  sdfsdf.	   
	  </p>
	  <div class="location_list">   
        <div>	  
	     <img src="images/ArmstrongProfile.png" class="small_icon">
	     <p>
	      Moonshine Street noL 14/05
	      Light City, Jupiter
	     </p>
	    </div>
	    <div>
	     <img src="images/ArmstrongProfile.png" class="small_icon">
	     <p>0247 541 65 87</p>
	    </div>
	    <div>
		 <img src="images/ArmstrongProfile.png" class="small_icon">
	     <p>support@longwave.com</p>
	    </div>
	   </div>
	 </div>
	 
	</div>
	
  </body>
  <footer>
   <p>@ 2013 Seabird. All Rights Reserved.</p>
  </footer>
</html>

