.logo {
 width: 100px;
 height: 30px; 
}

header {
  display: flex;
  justify-content: space-evenly;
}

.small_icon {
  width: 30px;
  height: 30px;
}

#header {
  display: flex;
  justify-content: space-evenly;	
}
	
body {
    display: flex;
	flex-direction: column;
}

#icon_row {
 display: flex;
 flex-direction: row; 
}

#title_back {
 display: flex;
 align-items: center;
 flex-direction: column;
}
  
#creativity {
  display: flex;
  align-items: center;
  flex-direction: column;
}
  
 
#latest_projects {
  display: flex;
  align-items: center;
  flex-direction: column;
}
  

#latest_blog {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#latest_blog > * {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#navi {
  display: flex;
  align-items: center;
  flex-direction: row;	
}

#grid_pictures {
	
  /*display: flex;
  align-items: center;
  flex-direction: column;
  */ 
  display: grid;
  grid-template-rows: repeat(3, 330px);
  grid-template-columns: repeat(4, 400px); 
  grid-gap: 10px;
  justify-items: center;
}

.middle_picture {
	
}

#blog_row {
  display: flex;
  align-items: center;
  flex-direction: row;	
}

#get_touch {
  display: flex;
  flex-direction: row;
}

footer {
	
}