<!DOCTYPE>
<html>
 <title>Product</title>
 <head>
  <link rel="stylesheet" href="css/style.css">
 </head>
 
 <header>
  <button>PRODUCTS</button>
  <button>CAMPAINGS</button>
  <button>SERVICES</button>
  <button>BRANDS</button>
  <button>ABOUT US</button>
  <div id="search"></div>
 </header>
 
 <body>
  <button>FILTER</button>
  <div id="filter">  
   <div id="brands">
    <h1>BRANDS</h1>
    <div id="brands_rows">  
     <div id="left_brands">
	  <p>Hola</p>
	  <p>Hola</p>
	  <p>Hola</p>
	  <p>Hola</p>
	  <p>Hola</p>
	  <p>Hola</p>
	  <p>Hola</p>
	  <p>Hola</p>
	 </div>
	 <div id="right_brands">
	  <p>Hola</p>
	  <p>Hola</p>
	  <p>Hola</p>
	  <p>Hola</p>
	  <p>Hola</p>
	  <p>Hola</p>
	  <p>Hola</p>
	  <p>Hola</p>
	  </div>
	 </div>
   </div>
   <div id="brands_list">
    <div id="brands_icon">
     <h1>WOMAN</h1>
	 <img src="images/ArmstrongProfile.png">
	 <h3>TOTAL</h3>
     <p>357 PRODUCTS</p>
 	 <img>
    </div>
	<div id="brands_icon">
     <h1>WOMAN</h1>
	 <img src="images/ArmstrongProfile.png">
	 <h3>TOTAL</h3>
     <p>357 PRODUCTS</p>
 	 <img>
    </div>
	<div id="brands_icon">
     <h1>WOMAN</h1>
	 <img src="images/ArmstrongProfile.png">
	 <h3>TOTAL</h3>
     <p>357 PRODUCTS</p>
 	 <img>
    </div>
   </div>
   
   <div id="color_price">
    <div id="color_selector">
   
    </div>
    <div>
   
    <div id="price_range">
    
    </div>
   </div>
  </div>
  </div>
  
  <div id="pictures_cart">
   <div id="product_view">
    <h1>Men'sFootwear</h1>
	<p>Hookset Handcrafted Fabric Chukka</p>
    <img src="images/ArmstrongProfile.png">
	<div id="small_row">
	 <img src="images/ArmstrongProfile.png" class="small_img">
	 <img src="images/ArmstrongProfile.png" class="small_img">
	 <img src="images/ArmstrongProfile.png" class="small_img">
    </div>   
   </div>
   
   <div id="cart">
     <div class="stars">
	 <img src="images/ArmstrongProfile.png" class="small_img">
	 <img src="images/ArmstrongProfile.png" class="small_img">
	 <img src="images/ArmstrongProfile.png" class="small_img">
	 <img src="images/ArmstrongProfile.png" class="small_img">
	 <img src="images/ArmstrongProfile.png" class="small_img">
	 </div>
	 <p>Read & Reviews</p>
	 <img src="images/ArmstrongProfile.png" class="small_img">
	 <img src="images/ArmstrongProfile.png" class="small_img">
	 <img src="images/ArmstrongProfile.png" class="small_img">
	 <p>save 40%</p>
	 <p>
	  This is a long established fact that a reader will be distracted by the readabl content of a page when looking at its layout. Asdasdasdasdasdadasdasdasd
	 </p>
	 <img>
	 <p>Free shipping</p>
	 <p>Size:</p>
	 <input placeholder="Select Size">
	 <p>Qty:</p>
	 <input>
	 <button>Add to card <img></button>
	 
	 <p>Share this</p>
	 <div id="soclal_icons">
	 </div>
	 
	 
   </div>
  </div>
  
  <div id="product_information">
   <div id="product_bookmarks">
    <button><h5>PRODUCT OVERWIEV</h5></button>
    <button><h5>FEATURES</h5></button>
    <button><h5>CUSTOMER REVIEWS</h5></button>
   </div>
   
   <div>
    <h3>DESCRIPTION:</h3>
	<p>
	With asdasdsadasdasdafasdfsdafsadfsdafsadfsadfsadfsdaf
	asdfsadfsadfsadfsadfsadfsadfdhsdfhfhjghkfghjujsfjserhdfhsdf
	</p>
	<h5>DETAILS:</h5>
	<p>
	asdfgsdgdfsgdsfgdfsgsdfgsdfgsdfgsdfgsdfgsdfgdsfgsdfgsdfgsdfgsdfg
	sdgdsfgsdfgdfsgdfsgdsfgdfsgsdfgdfsgsdfgdfsgsdfgsdgsdfgdfsg
	dsfgdsfgsdfgsdfgdsfgsdfgsdfgsdfgsdfgsdfgsdfgsdfgsdfgsdfgsdgsdfg
	</p>
   </div>
  </div>
 </body>

 <footer>
  <div>
   <img src="images/ArmstrongProfile.png" class="small_img">
   <button>About Us</button>
   <button>Faq</button>
   <button>Terms and Conditions</button>
   <button>Secure Payments</button>
   <button>Shipping</button>
   <button>Contact</button>
  </div>
 
  <div id="social_icons">
   <img src="images/ArmstrongProfile.png" class="small_img">
   <img src="images/ArmstrongProfile.png" class="small_img">
   <img src="images/ArmstrongProfile.png" class="small_img">
  </div>
 </footer>

</html>