<!DOCTYPE html>
<html>
 <title></title>
 <head>
   <link rel="stylesheet" href="css/style.css" />
 </head>
 <header>
  <img src="images/ArmstrongProfile.png" class="logo">
  <div>
   <img src="images/ArmstrongProfile.png" class="small_icon">
   <p>0535 954 74 54</p>
  </div>
  <div>
   <img src="images/ArmstrongProfile.png" class="small_icon">
   <p>email@moose.com</p>
  </div>
 </header>
 <body>
  <div id="header">
   <div id "buttons_row">
    <button>HOME</button>
	<button>PORTFOLIO</button>
    <button>ABOUT</button>
    <button>SERVICE</button>
    <button>JOURNAL</button>
    <button>FEATURES</button>
    <button>CONTACT</button>
   </div>
   <div id="icons_row">
    <img src="images/ArmstrongProfile.png" class="small_icon">
	<img src="images/ArmstrongProfile.png" class="small_icon">
	<img src="images/ArmstrongProfile.png" class="small_icon">
	<img src="images/ArmstrongProfile.png" class="small_icon">
	<img src="images/ArmstrongProfile.png" class="small_icon">
   </div>
  </div>
 
  <div id="title_back">
    <h1>Moose brings awesomeness</h1>
	<h3>A responsive template with clean and professional design</h3>
	<button>SEE PROJECT</button>
  </div>

  <div id="creativity">
   <h1>Creativity is important for us </h1>
   <p>
     Nullam asdasdafsadfasdfsdaf sdfsadf sdf saf asdfsaf
     safsadfsafsaf sdfasf sdfa ssadfasf sasadf sad sfasdf
	 asd sfasdfsadfas asdfasdf asf asfa sdfasdfsadf
   </p>
   <div id="creativity_row">
    <div class="creativity_icon">
	  <img src="images/ArmstrongProfile.png" class="small_icon">
	  <h5>INTERFACE DESIGN</h5>
	</div>
   </div>
  </div>
  
  <div id="latest_projects">
   <div>
    <h1>LATEST PROJECTS</h1>
	<p>making stuff is awesome</p>
   </div>
   
   <div id="navi">
    <div class="circle_navi">
	  <img src="images/ArmstrongProfile.png" class="small_icon">
	  <h4>ALL</h4>
	</div>
	<div class="circle_navi">
	  <img src="images/ArmstrongProfile.png" class="small_icon">
	  <h4>ALL</h4>
	</div>
	<div class="circle_navi">
	  <img src="images/ArmstrongProfile.png" class="small_icon">
	  <h4>ALL</h4>
	</div>
	<div class="circle_navi">
	  <img src="images/ArmstrongProfile.png" class="small_icon">
	  <h4>ALL</h4>
	</div>
	<div class="circle_navi">
	  <img src="images/ArmstrongProfile.png" class="small_icon">
	  <h4>ALL</h4>
	</div>
	<div class="circle_navi">
	  <img src="images/ArmstrongProfile.png" class="small_icon">
	  <h4>ALL</h4>
	</div>
   </div>
   
   <div id="grid_pictures">
     <img src="images/ArmstrongProfile.png" class="middle_picture">
	 <img src="images/ArmstrongProfile.png" class="middle_picture">
	 <img src="images/ArmstrongProfile.png" class="middle_picture">
	 <img src="images/ArmstrongProfile.png" class="middle_picture">
	 <img src="images/ArmstrongProfile.png" class="middle_picture">
	 <img src="images/ArmstrongProfile.png" class="middle_picture">
	 <img src="images/ArmstrongProfile.png" class="middle_picture">
	 <img src="images/ArmstrongProfile.png" class="middle_picture">
	 <img src="images/ArmstrongProfile.png" class="middle_picture">
	 <img src="images/ArmstrongProfile.png" class="middle_picture">
	 <img src="images/ArmstrongProfile.png" class="middle_picture">
	 <img src="images/ArmstrongProfile.png" class="middle_picture">
   </div>
  </div>

  <div id="latest_blog">
    <div>
     <h1>OUR LATEST BLOG</h1>
	 <p>
	  Morbi asdasd asdasd asfsdf sgasdfg dsfgsdfg dfg sdfg sdfgsdfgsdfg
	  asdsg fghdfh fhdfhdfgh fghdfhdgdfgh dfhdfhdfdfgdfgh dfhdfghdfghdfhd
	 </p>
   </div>
   <div id="blog_row">
    <div class="blog_profile">
	  <img src="images/ArmstrongProfile.png">
	  <div>
	    <h4>TORTOR ULLAMCORPER FRINGILLA EUISMOD+</h4>
	  </div>
	</div>
	    <div class="blog_profile">
	  <img src="images/ArmstrongProfile.png">
	  <div>
	    <h4>TORTOR ULLAMCORPER FRINGILLA EUISMOD+</h4>
	  </div>
	</div>
	    <div class="blog_profile">
	  <img src="images/ArmstrongProfile.png">
	  <div>
	    <h4>TORTOR ULLAMCORPER FRINGILLA EUISMOD+</h4>
	  </div>
	</div>
	    <div class="blog_profile">
	  <img src="images/ArmstrongProfile.png">
	  <div>
	    <h4>TORTOR ULLAMCORPER FRINGILLA EUISMOD+</h4>
	  </div>
	</div>
   </div>
   <div>
     <img src="images/ArmstrongProfile.png" class="small_icon">
	 <img src="images/ArmstrongProfile.png" class="small_icon">
	 <img src="images/ArmstrongProfile.png" class="small_icon"> 
   </div>
  </div>

  <div id="get_touch">
   <div class="touch_block">
    <h2>GET IN TOUCH</h2>
	<p>
	  ASDASDASDasd asdasdsassgdfgksdgldfgdfsg
	  sdlkgjdsfklgjdskjgsdjgkj;lskjfasdfasdfasdf
	  asdfljsdakljfhskladfhlkjsdhfklsdahfkjsadhfkljasdf
	  asdfjsadfjlsdaivoisadfpaosfpaiosdfhpoiashfiosaduf
	  asdfasflksahfklsahflksahfksahdf
	</p>
   </div>
   <div class="touch_block">
    <h2>GET IN TOUCH</h2>
	<p>
	  ASDASDASDasd asdasdsassgdfgksdgldfgdfsg
	  sdlkgjdsfklgjdskjgsdjgkj;lskjfasdfasdfasdf
	  asdfljsdakljfhskladfhlkjsdhfklsdahfkjsadhfkljasdf
	  asdfjsadfjlsdaivoisadfpaosfpaiosdfhpoiashfiosaduf
	  asdfasflksahfklsahflksahfksahdf
	</p>
   </div>
   <div class="touch_block">
    <h2>GET IN TOUCH</h2>
	<p>
	  ASDASDASDasd asdasdsassgdfgksdgldfgdfsg
	  sdlkgjdsfklgjdskjgsdjgkj;lskjfasdfasdfasdf
	  asdfljsdakljfhskladfhlkjsdhfklsdahfkjsadhfkljasdf
	  asdfjsadfjlsdaivoisadfpaosfpaiosdfhpoiashfiosaduf
	  asdfasflksahfklsahflksahfksahdf
	</p>
   </div>
   <div class="touch_block">
    <h2>GET IN TOUCH</h2>
	<p>
	  ASDASDASDasd asdasdsassgdfgksdgldfgdfsg
	  sdlkgjdsfklgjdskjgsdjgkj;lskjfasdfasdfasdf
	  asdfljsdakljfhskladfhlkjsdhfklsdahfkjsadhfkljasdf
	  asdfjsadfjlsdaivoisadfpaosfpaiosdfhpoiashfiosaduf
	  asdfasflksahfklsahflksahfksahdf
	</p>
   </div>
  </div>
 </body>
 <footer>
  <p>
   @2013 Marble. All rights reserved. Theme by elemis.
  </p>
 </footer>

</html>