<!DOCTYPE html>
<html>
 <head>
  <link rel="stylesheet" href="css/style.css">
 </head>
 <header>
  <h1>LOGO</h1>
  <button>work</button>
  <button>team</button>
  <button>contact</button>
 </header>
 <body>
   <div id="title_back">
     <h1>LET US MAKE</h1>
	 <h1>YOUR LIVES EASIER</h1>
	 <p>
	  We specialize in crafting awesome ideas for web, mobile and beyond
	 </p>
	 <div class="button_arrow"></div>
   </div>
   
   <div id="featured_work">
     <h1>FEATURED WORK</h1>
	 <p>   
	  Here you can find some of our latest works, to see the details of these works just click the thumbnails below.
	 </p>
	 <div>
	 <div class="featured_row">
	  <img src="images/ArmstrongProfile.png">	 
	  <img src="images/ArmstrongProfile.png">
	  <img src="images/ArmstrongProfile.png">
	 </div>
	 <div class="featured_row">
	 <img src="images/ArmstrongProfile.png">
	 <img src="images/ArmstrongProfile.png">
	 <img src="images/ArmstrongProfile.png">
	 </div>
	 <div class="featured_row">
	 <img src="images/ArmstrongProfile.png">
	 <img src="images/ArmstrongProfile.png">
	 <img src="images/ArmstrongProfile.png">
	 </div>
   </div>
   
   <div id="team">
    <h1>TEAM</h1>
	<p>
	 We are a hard working group, who's aim is to listen to your problems and to come up with the best solutions possible. We follow th e lates trends on the web to create custom tailerd niche websites.
	</p>
	<div id="team_row">
	 <div class="person_icon">
	   <img src="images/ArmstrongProfile.png">
	   <h1>NAME SURNAME</h1>
	   <p>Lead Developer</p> 
	   <div>
	    <img src="images/ArmstrongProfile.png" class="small_icon">
	    <img src="images/ArmstrongProfile.png" class="small_icon">
	   </div>
	 </div>
	 <div class="person_icon">
	   <img src="images/ArmstrongProfile.png">
	   <h1>NAME SURNAME</h1>
	   <p>Lead Developer</p>
	    <div>
	    <img src="images/ArmstrongProfile.png" class="small_icon">
	    <img src="images/ArmstrongProfile.png" class="small_icon">
	    </div>
	 </div>
	 <div class="person_icon">
	   <img src="images/ArmstrongProfile.png">
	   <h1>NAME SURNAME</h1>
	   <p>Lead Developer</p>
	   <div>
	    <img src="images/ArmstrongProfile.png" class="small_icon">
	    <img src="images/ArmstrongProfile.png" class="small_icon">
	   </div>
	 </div>
	 <div class="person_icon">
	   <img src="images/ArmstrongProfile.png">
	   <h1>NAME SURNAME</h1>
	   <p>Lead Developer</p>
	   <div>
	    <img src="images/ArmstrongProfile.png" class="small_icon">
	    <img src="images/ArmstrongProfile.png" class="small_icon">
	   </div>
	 </div>
	</div>
   </div>
   
   <div id="contact">
    <h1>CONTACT</h1>
	<div id="contact_columns">
	<div id="location">
	  <p>
	   Where are we located?
	  </p>
	  <img src="images/ArmstrongProfile.png">
    	</div>
	 <div src="leave_message">
	  <p>Want to contact us now? Just drop us a line below</p>
	  <input type="text">
	  <div>
	   <input type="email">
	   <input type="submit">
	  </div>
	 </div>
	</div>
   </div>
   
 </body>
 <footer>
  <div>
   <h4>Adress: </h4> 
   <p>
    Ahmet Bayman Caddesi No:B, Seyrantepe - Istanbul
   </p> 
  </div>
  <p>Copyright @ 2013 Limbo </p>
 </footer>

</html>