<!DOCTYPE html>
<html>
 <title>APPmo</title>
  <head>
   <link rel="stylesheet" href="css/style.css">
  </head>
  <header>
   <div>
    <button>HOME</button>
	<button>FEATURES</button>
	<button>COUNTDOWN</button>
   </div>
   <div>
    <button>PRICING</button>
	<button>TESTIMONIALS</button>
	<button>CONTACT</button>
   </div>
  </header>
  <body>
     <div class="icon">
	  <p>APPmo</p>
	 </div>
	 <div id="title_bar">
	  <h1>Lorem ipsum dolor sit</h1>
	  <br>
	  <p>
	   sdfsdf sdfasdf asdfasdfsadf asdfsadfsad f sad fastasdf
	   asdfasdfsadfasfdsdafasdfasdf
	   asdfasdfsadfsdaf
	  </p>
	 </div>
	 	 
     <div id="title_phone">
	 <!-- <img src="images/BakedCubes.png"> --> 
	  <div class="icon">
	   <p>DOWNLOAD NOW</p>
	  </div>  
	  <img src="images/ArmstrongProfile.png"> 
	  <div class="icon">
	   LEARN MORE
	  </div>
	 </div>
	 
	  <div id="awesome_features">
	   <h1>Awesome Features</h1>
	   <p>
	    Lorem dsfsdfa sdfasdfasdf asdfasdfas asdfasdfasdfasdf/ 
		asdfasdfasdfasdf
	   </p>
	   
	   <div>
		   <div class="left_column">
			   <div>
			   <img>
				<h1>Upload</h1>
				<p>
				 Ssdfsdfsdf sdfsdfsdf sdfsdfsdf sdfdsfsdfsdfsdfafsdf
				 sadfasdfsadfasdfasdfasfsadfsadfasdfasdfasdf
				 sadfsadfsadfasdfsadfasdfasdfsadfsadfasdfaf/
				</p>		
			   </div>
			   <div>
			   <img>
				<h1>Upload</h1>
				<p>
				 Ssdfsdfsdf sdfsdfsdf sdfsdfsdf sdfdsfsdfsdfsdfafsdf
				 sadfasdfsadfasdfasdfasfsadfsadfasdfasdfasdf
				 sadfsadfsadfasdfsadfasdfasdfsadfsadfasdfaf/
				</p>		
			   </div>
			   <div>
			   <img>
				<h1>Upload</h1>
				<p>
				 Ssdfsdfsdf sdfsdfsdf sdfsdfsdf sdfdsfsdfsdfsdfafsdf
				 sadfasdfsadfasdfasdfasfsadfsadfasdfasdfasdf
				 sadfsadfsadfasdfsadfasdfasdfsadfsadfasdfaf/
				</p>		
			   </div>
		   </div>
		   
		   <div class="right_column">
			   <div>
			   <img>
				<h1>Upload</h1>
				<p>
				 Ssdfsdfsdf sdfsdfsdf sdfsdfsdf sdfdsfsdfsdfsdfafsdf
				 sadfasdfsadfasdfasdfasfsadfsadfasdfasdfasdf
				 sadfsadfsadfasdfsadfasdfasdfsadfsadfasdfaf/
				</p>		
			   </div>
			   <div>
			   <img>
				<h1>Upload</h1>
				<p>
				 Ssdfsdfsdf sdfsdfsdf sdfsdfsdf sdfdsfsdfsdfsdfafsdf
				 sadfasdfsadfasdfasdfasfsadfsadfasdfasdfasdf
				 sadfsadfsadfasdfsadfasdfasdfsadfsadfasdfaf/
				</p>		
			   </div>
			   <div>
			   <img>
				<h1>Upload</h1>
				<p>
				 Ssdfsdfsdf sdfsdfsdf sdfsdfsdf sdfdsfsdfsdfsdfafsdf
				 sadfasdfsadfasdfasdfasfsadfsadfasdfasdfasdf
				 sadfsadfsadfasdfsadfasdfasdfsadfsadfasdfaf/
				</p>		
			   </div>
	       </div>
		 </div>
	  </div>

	  
	 <div id="appmo_email">
	  <h1>Appmo Newsletter </h1>
	  <p>
	   Fdfdfd  sdfsdf sdfsdfsdf werwerw werwerwerwer
	   werwwer werwerwer werwer.
	  </p>
	  <div class="icon">
	   <p>E-mail adres..</p>
	   <div class="icon">
	    <p>SUBSCRIBE</p>
	   </div>
	  </div>
	 </div>
	 
	 <div id="mohamed_saed">
	   <p>
	    Fasdfsafasdfasfasdfsdfsadfsadf
	        asdfsadfasfsdafafasd
	   </p>
	   <h1>Mohamed Saed</h1>
	   <div class="icon">      
         <img src="images/ArmstrongProfile.png">		 
       </div>	   
	   
	 </div>
	 
	 <div id="appmo_newsletter">
	   <h1>Appmo Newsletter</h1>
	   <p>Asdasdsadsa asdsadasd asdsadsad asdasdsad</p>
	   
	   <div>
	    <div class="icon">
		  <p>0.3.05.2014</p>
		</div>
		<h5>dolor sir amet, consectetuer adipiscing elit</h5>
		<p>
		  asdasdasd asdsadsadsa asdasdsad asdaasfsadf sadfsadfasdfasdf
		  asdfasdfasdfasdf asdfasdfasdf  asdfasdfsadfsadf
		  asdfsadfasdfa asdfsadfasdf asdfasfadsf asdfasdfasdf asdf
		</p>
	   </div>	 
	 </div>
	 
	 <div id="screenshots_app">
	  <h1>Screenshots Of App</h1>
	  <p>
	   Asdsd sdfsdf   sdfsdfsd  sdfsdfsdf  dsfsaf sdgdfgdfg
	   sdgsdfgsdfgsdfg
	  </p>
	  <div>
	   <img src="images/ArmstrongProfile.png">
	  </div>
	 </div>
	 
	 <div id="member_packed">
	  <h1>Member Packed</h1>
	  <p>
	   Asdasdsad masdasdasd sadsad asdasd asdasd
	  </p>
	  <div id="icon_offer">
	   <!-- safasfasdfdfasdfadsfafsadf 29% monthly -->
	   <p>1 Websites</p>
	   <p>1 User</p>
	   <p>2gb Storage</p>
	   <p>1000 GB Bandwidth</p>
	   <p>Support Ticjet System</p>
	  </div>
	  <div>
	   <!-- safasfasdfdfasdfadsfafsadf 50% -->
	   <p>1 Websites</p>
	   <p>1 User</p>
	   <p>2gb Storage</p>
	   <p>1000 GB Bandwidth</p>
	   <p>Support Ticjet System</p>
	  </div>
	  <div>
	   <!-- safasfasdfdfasdfadsfafsadf 80%-->
	   <p>1 Websites</p>
	   <p>1 User</p>
	   <p>2gb Storage</p>
	   <p>1000 GB Bandwidth</p>
	   <p>Support Ticjet System</p>
	  </div>
	  <div>
	   <!-- safasfasdfdfasdfadsfafsadf 152%-->
	   <p>1 Websites</p>
	   <p>1 User</p>
	   <p>2gb Storage</p>
	   <p>1000 GB Bandwidth</p>
	   <p>Support Ticjet System</p>
	  </div>
	 </div>
	 
	 <div id="apmo_team">
	  <h1>Apmo Team</h1>
	  <p>
	   Asdasdsadasd asdasdsad asdsadasdasdasdasdadsasd
	  </p>
	  <div>
	   <img>
	   <div>
	    <h1>
		 Mohammed Saed
		 UI / UX
		</h1>
		<P>
		 dfhfdghdfhfghdfghdfghdfghghgfhdhfgh
		 dfghdfghdfghdfghdfhdfghdfghdfgh
		 dfhdfhdghdfghdfghdfgh
		</P>
	   </div>
	  </div>
	 </div>
	 
	 
	 <div id="icons">
	  <div class="icon">
	   </div>
	   <div class="icon">
	  </div>
	   <div class="icon">
	  </div>
	   <div class="icon">
	  </div>
	 </div>
	 
	 <div>
	  <img src="images/BakedCubes">
	 </div>
	 
	 <div id="leave_thought">
	  <h1>LEAVE US A THOUGHT</h1>
	  <p>
	   Asdsdsdf sdfsdf  werwerwerwer werwere
	   werwerwer
      </p>
	  <div>
       <input>
       <input>
	  </div>
	  <p>sign</p> 
      <input>
      <input type="button">	  
	 </div>
	 
	 <div class="icon">
	  <img>
	 </div>
  </body>
  <footer>
  </footer>
</html>