<!DOCTYPE html>
<html>
 <title>Prototype</title>
 <head>
  <link  href="css/style.css" rel="stylesheet">
 </head>
 <header> 
   <h1>Ты сегодня покормил кота?</h1>
 </header>
 <body>
  
   <div id="food_row">
   
     <div class="profile">
	 
	   <img src="images/ArmstrongProfile.png">
		  
	   <div class="foodContainer">	
	   
		<p>Сказочное заморское явство</p>
		<h1>Нямушка</h1>
		<h3>с фуа-гра</h3>
		<div class="list_food">
		 <p>10 порций</p>
		 <p>мышь в подарок</p>
		</div>
		<div class="kg">
		 <div class="circle">
		  <div class="in_circle">
		   <h1>0,5</h1>
		   <h3>кг</h3>
		  </div>
		 </div>	 
		</div>
		<p>Чего сидишь? Порадуй котэ, купи.</p>
	   </div>
	  	  
     </div>
		  
	  <div class="profile">
	  
	  <img src="images/ArmstrongProfile.png">
	  
	   <div class="foodContainer">	
		<p>Сказочное заморское явство</p>
		<h1>Нямушка</h1>
		<h3>с рыбой</h3>
		<div class="list_food">
		 <p>40 порций</p>
		 <p>2 мыши в подарок</p>
		</div>
		<div class="kg">
		 <div class="circle">
		  <div class="in_circle">
		   <h1>0,5</h1>
		   <h3>кг</h3>
		  </div>
		 </div>	
		<p>Чего сидишь? Порадуй котэ, купи.</p>
	   </div>
	   </div>
	   
	   </div>
	   
	   <div class="profile">
	   
	   <img src="images/ArmstrongProfile.png">
	   
	   <div class="foodContainer">	
		<p>Сказочное заморское явство</p>
		<h1>Нямушка</h1>
		<h3>с курой</h3>
		<div class="list_food">
		 <p>100 порций</p>
		 <p>5 мышей в подарок</p>
		 <p>заказчик доволен</p>
		</div>
		<div class="kg">
		 <div class="circle">
		  <div class="in_circle">
		   <h1>0,5</h1>
		   <h3>кг</h3>
		  </div>
		 </div>	
		<p>Чего сидишь? Порадуй котэ, купи.</p>
      </div>
	 </div>
	
	</div>
	
	 </div>
 </body>
 <footer>
 </footer>
</html>