header{
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 background-color: black;
}

.logo {
 width: 200px;
 height: 60px; 
}

#header_row {
 display: flex;
 flex-direction: row;
  justify-content: center;
}
